
button{
    width: 300px;
}

.fieldset{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    width: 270px;
}
.form-label{
    display: flex;
    flex-direction: column;
}
.form-label>input{
    width: 290px;
    height: 25px;
}